body {
   background-color: #ede8e2;		/* page background */
   }

/* --------- Main Content ----------- */
#centerColumn {
   background-color: #fdfdfa;
   }
p, #contentColumn  {
   color: #000;
   }
#wikitext a {
   color: #ff8c00;
   }
h1, h2, h3, h4, h5, h6 {
   color: #0b6360;
   }
#wikitext h2 {
	border-top-color: #a553c2;
	}
#wikitext .quickref {
   background-color: #f5f9ea;
   }

/* --------- Site Header ----------- */
#siteHeader { 
   background-color: #fff;	/* [3]: siteHeaderNav a border must match this color */
   }
#siteHeaderNav, #siteHeaderNav p, #siteHeaderNav a  {
   color: #0b6360;
	}
#siteHeaderNav a {			/* Hack to fix IE issue with bottom-borders on link tags */
   border-color: #fff;		/* Needs to be the same color as siteHeader background [3] */
	}

/* --------- Search Bar & Input Boxes ----------- */
#searchBar input, #wikiedit input {
   background-color: #fff;
   border-color: #aaa;
   }

/* --------- Content Header ----------- */
#contentHeader {
   background-color: #a553c2;  
   }
#contentTitle p, #contentTitle a, .wikiCmds li a {
   color: #f5f9ea;
   }

/* --------- Left/Right Columns ----------- */
#outerColumnContainer {
   border-left-color: #fdfdfa;   /* left hand column background color (#f5f9ea) */
   border-right-color: #fdfdfa;  /* right hand column background color */
   }
#rightColumn .inside, #rightColumn .inside a, 
#leftColumn .inside, #leftColumn .inside a {
   color: #0b6360;
   }

/* --------- Tabs ----------- */
.tabHolder {
   border-color: #d3d3d3;  	/* Should match color [2] */
   }
.tabHolder, .tabs-nav a {
   color: #f5f9ea;
   background-color: #a553c2;  
   }
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
   color: #000;
   background-color: #f5f9ea;	/* [1] */
   border-color: #f5f9ea;		/* Should match color [1] */
	border-top-color: #ff9900;
   }

/* --------- Site Footer ----------- */
#footer {
   background-color: #a553c2;  
   }
#footer, #footer p, #footer a {
   color: #f5f9ea;
   }

/* --------- Borders -------------*/
#contentHeader, #centerColumn, #footer,#wikitext .quickref {
   border-color: #d3d3d3;  	/* [2]: global border color */
   }
#outerColumnContainer {
   border-top-color: #d3d3d3; /* should match color [2] */
   }
.textBlockHover {
	border-left-color: #ff9900;
	}

/* --------- Table of Contents ----------- */
#toc_content a {
   color: #ccc;
   }

/* --------- User Styles ----------- */
.box {
	background: #da9510;
	border-color: #ff9900;
	}