@charset "iso-8859-1";

/*******************************************************************************
*  Based on skidoo_lean.css : 2004-08-17 : Ruthsarian Layouts http://webhost.bridgew.edu/etribou/layouts/skidoo/
*******************************************************************************/

/* --------- Basic Page Layout Definitions ----------- */
body {
	font-size: 100.1%;
	margin: 0;
	padding: 1em 3em 3em 3em;		/* remove this to stretch the layout */
   }
#pageWrapper {
	font-family: arial, helvetica, sans-serif;
	font-size: 75%;		/* arial looks better with a smaller size */
	margin: 0;
	min-width: 500px;	/* IE doens't understand this property */
	width: auto;
   }
* html #pageWrapper {
	word-wrap: break-word;	/* invalid CSS but keeps IE from breaking horribly under narrow viewports */
   }
#outerColumnContainer {
	border-width: 0 11em;	/* side border widths must equal the widths of the left and right columns. */
   border-style: solid;
	z-index: 1;
   }
* html #outercolumncontainer {
	/* IE5.0/Win fix for 1px whitespace between siteHeader and body. 
	 * The case-incorrect selector is on purpose. IE5.0 and IE5.5 are
	 * case insensitive and I'm targeting IE 5.0. 5.5 doesn't get hurt
	 * by this extra margin work.
	 */
	margin-top: -1px;
	border-top-width: 1px;
   border-top-style: solid;
   }
#centerColumn {
	border-width: 0 1px;    	/* puts borders between middle and the side columns. */
	border-style: dashed;   	/* puts borders between middle and the side columns. */
	margin: 0 -1px;	   		/* compensate for the borders because of 100% width declaration */
	width: 100%;
	z-index: 2;
   }
html[xmlns] .mozclear {
	/* this selector should be valid CSS, but Opera 7.5 (and above) will pick
	 * this up as well. Shouldn't be a problem, Opera should handle this fine,
	 * but it's a Mozilla-targeted hack, and it should probably only affect
	 * mozilla. You can do that by replacing the INVALID CSS selector
	 * :root .mozclear for what's give here.
	 */
   border-bottom: 1px solid;
   border-color: transparent;
	margin-bottom: -1px;
   }
#leftColumn, #rightColumn, #contentColumn {
	float: left;
	overflow: visible;	/* fix for IE italics bug */
	position: relative;
	z-index: 10;
   }
#leftColumn {
	margin: 0 1px 0 -11em;	/* the margin on the side the column is to be
				   rendered on must be the negative equal of 
				   the column's width. The opposite border must
				   be 1px */
	width: 11em;
   }
#rightColumn {
	float: right;	/* doesn't have to be floated right, but if using some original skidoo tweaks, you need it this way */
	margin: 0 -11em 0 1px;	/* same as in the #leftColumn but reversed */
   width: 11em;
   }
#rightColumn .inside, #leftColumn .inside  {
   padding-left: 10px;
   padding-top: 0.8em;
	font-size: 85%;	/* because the parent element ( #rightColumn )
			   defines its width in EMs, we can't change the font 
			   size in that selector, otherwise the column won't use
			   the entire width reserved for the column */
   }
#contentColumn {
	margin: 0 -1px;		/* required to get the negative margin-based
				   layout to work. if #contentColumn does not
				   overlap the left and right columns, then
				   the whole layout will break */
	width: 100%;
   }
#footer {
   border-style: solid;
	border-width: 1px 0;	/* border for bottom of layout and top of footer area */
	margin: 0pt;
	position: relative;
   }
.clear {
	clear: both;
   }
.inside {
	padding: 0 1em;	/* glitch in IE caused by vertical padding in
				   this class, so 0 padding is set here and
				   those blocks that need the vertical padding
				   must be applied to the parent element.
				   the purpose of this class is to provide 
				   horizontal padding without using hacks to
				   get around IE's broken box model. so it's
				   okay to apply vertical padding to the parent
				   element, just not horizontal padding. */
   }
#leftColumn, #contentColumn, #rightColumn {
	padding-bottom: 2em;	/* this is the vert padding talked about in the .inside selector comment. */
   }
#siteHeader, #footer {
	padding: 0.5em;	/* ditto from above */
   }

/* --------- Container Hacks ----------- */
/* Used to ensure the siteHeader stays within the confines of the containing object */
.force_contain:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.force_contain { display: inline-block; _height: 1%; }
/* Hides from IE-mac \*/
.force_contain { display: block; }
/* End hide from IE-mac */

/* ---------  ----------- */
#contentColumn .inside {
   clear: left;
	font-family: Georgia,"Trebuchet MS","Times New Roman",serif;
	line-height:150%;
   }
#leftColumn .inside ul, #rightColumn .inside ul { 
   padding-left: 10px;
   margin-left: 9px;
   line-height: 1.4em;
   }
/* ---------  ----------- */
input {
   font-size:90%; 
	border-width:1px;
	padding:1px;
   }
a {
	text-decoration:none;
   }
a:hover { 
   border-bottom-style: dotted;
   border-bottom-width:1px;
   }

/* --------- PmWiki Style Overrides ----------- */
ul, ol, pre, dl, p { margin-top:0px; margin-bottom:0px; }
pre { font-size: 110%; }
code.escaped { white-space: nowrap; }
.vspace { margin-top:1.33em; }
.indent { margin-left:40px; }
.outdent { margin-left:40px; text-indent:-40px; }
a.createlinktext { text-decoration:none; border-bottom:none; }
a.createlink { text-decoration:none; position:relative; top:-0.5em; font-weight:bold; font-size:smaller; border-bottom:none; }
img { border:0px; }
#wikidiff { font-size: 110%; }

/* --------- Site Header ----------- */
#siteHeader {
   padding-bottom: 1em;
   font-size: 90%;
   }
#siteHeaderNav  {
	float: left;
	width: 79%;
   }
#siteHeaderNav a {
   border-bottom: 1px solid;
   }

/* --------- Search Bar & Input Boxes ----------- */
#searchBar {
   float: right;
   padding-top: 6px;
   }
#searchBar .searchBox { 
	background-image: url(images/magnifier.gif);
	background-position: left center;
	background-repeat: no-repeat; 
	padding: 2px;
	padding-left: 20px;
   }
#searchBar form {
   display: inline;   /* prevents IE padding out the navbar */
   }
	
/* --------- Tabs ----------- */
.tabs-hide {
	display: none;
	}
.tabs-nav {
    list-style: none;
    margin: 0;
	}
.tabHolder {
	height: 27px;
	padding-left: 6px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
	}
.tabHolder ul { 
   padding-left: 10px;
   margin-left: -10px;
   }
.tabs-nav li {
   float: left;
   margin: 12px 2px 0 0;
	}
.tabs-nav a {
	position: relative; /* fixes top border in IE */
   font-size: 11px;
   text-align: center;
   text-decoration: none;
   padding:0 5px 0px 5px;
	}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
   cursor: pointer;
   border-width: 2px 0 1px 0;
	border-style: solid none solid none;
	}
.tabs-nav a:hover, .tabs-nav a:focus {
	float: left;		/* needs to float for opacity in IE */
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited,
.tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
   cursor: text;
	}
.tabs-nav .tabs-disabled {
   opacity: 0.4;
	}
.tabs-container {
   clear: both;
	}

/* --------- Wiki Action Commands ----------- */
.wikiCmds { 
	float: right; 
	margin-top: 2px;
	font-size: 70%;
	padding-right: 25px;
   }
.wikiCmds ul { 
	list-style: none; 
	display: inline; 	/* same as margin and padding of 0 */
   }  
.wikiCmds li { 
	display: inline; 
	margin: 0px 3px; 
   }
	
/* --------- Content Header ----------- */
#contentHeader { 
	float: left; 
	height: 18px;
	padding:8px 0 1px 10px; 
	font-size: 1.2em; 
	font-weight: bold; 
   border-bottom-style: solid;
   border-width: 1px;
	margin-bottom: 15px;
   }
#contentTitle {
	float: left;
   }

/* --------- Wiki Page Formatting ----------- */
#wikitext p {
	margin: 0.5em 0 0;		/* for better consistency across platforms */
   }
#wikitext h1, #wikitext h2, #wikitext h3, #wikitext h4, #wikitext h5, #wikitext h6 {
	font-family: "Century Gothic",arial, helvetica, sans-serif;
	margin: 0.5em 0 0.3em;		/* for better consistency across platforms */
   }
#wikitext h2 {
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 0.3em;
   }
#wikitext h5 {
	font-style: italic;
   }
#wikitext ul {
   padding-left: 2em;
   margin-top: 0;
   }
#wikitext a.urllink {
   background: url(images/new_window.png) top right no-repeat;
   padding-right: 9px;
   margin-right: 1px;
   border: 0;
   }
#wikitext .quickref {
	border-style: dotted;
	border-width: 1px;
   font-size: 80%;
	font-family: Arial; 
	padding: 2px; 
   margin-bottom: 20px;
   }
.wikimessage { 
	margin-top: 4px; 
	margin-bottom: 4px; 
	font-style: italic; 
   }
a.createlinktext{
   background: url(images/new_page.png) top right no-repeat;
   padding-right: 8px;
   margin-right: 1px;
   }
.textBlockHover {
	padding-left: 13px;
	margin-left: -14px;
   border-left-width: 1px;
	border-left-style: dotted !important;
	}
	
/* --------- Wiki Edit Page Formatting ----------- */
#wikiedit { 
	font-family: Arial,"sans serif";
	}
#wikiedit textarea { 
	width: 99%; 
	height: 385px;
	font-size: 110%
   }
#wikiedit input {
	margin-top: 8px;
   }
#wikiedit form {
   line-height: 0;
   }
#resizeS {
	height: 6px;
	line-height: 6px;
	background: url(images/s-handle.gif) top center no-repeat; 
	overflow: hidden;
	cursor: s-resize;
	margin: -1px 0 15px 1px;
	width: 97%;
	}

/* --------- Table of Contents ----------- */
#toc_content a {
   margin-left: 10px;
   display: list-item;
   text-decoration: none;
   }
#toc_content a.indent {
   list-style-type: circle;
   }
.toc_top {
   float: right;
	text-align: left;
	display: none;
	margin-top: 3px;
   }
.toc_top a {
   background: url(images/up.gif) center left no-repeat;
   height: 12px;
   width: 12px;
   padding: 6px 6px;
	border-bottom: none;
	}

/* --------- Section Edit ----------- */
.sectionedit {
	margin-right: -15px;
   float: right; 
	display: none;
   }
.sectionedit a {
	border-bottom: none;
	}
.sectionEditImg, .skidooTabEdit {
	position: relative;
   display: block;
   padding: 4px 4px;
   }
.sectionEditImg {
   background: url(images/edit.png) center right no-repeat;
   height: 14px;
   width: 14px;
	margin-right: 5px;
	margin-top: 1px;
   }
.skidooTabEdit {
   background: url(images/edit-sm.png) center right no-repeat;
   height: 10px;
   width: 10px;
	float: right;
	display: none;
	}
.skidooTabEdit a {
	padding: 10px 10px 5px 10px;
	text-decoration: none;
	border-bottom: none;
	}
	
/* --------- Google Tabs ----------- */
.gfc-control .gfc-resultsHeader .gfc-title { 
	font-size: medium; 
	font-weight: bold; 
	color: #d09f78 
	}
.gfc-control div { 
	font-family: arial, sans-serif; 
	}

/* --------- User Styles ----------- */
.box {
	border-width: 1px;
	border-style: dashed;
	margin: 10px 10px 10px 30px;
	padding: 10px;
	}
