<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
  <title>$WikiTitle | {$Group} / {$Title}</title>
  <link rel='stylesheet' href='$SkinDirUrl/PDA.css' type='text/css' />
  <!--HTMLHeader-->
</head>
<body>
  <!--wiki:{$SiteGroup}.{$SkinName}-Header-->
  <hr />
  <div id='printhead'>
    <h3 class='pagename'>{$Group}: {$Title}</h3>
  </div>
<!--PageText-->
  <hr />
  <!--wiki:{$SiteGroup}.{$SkinName}-Header-->
<!--HTMLFooter-->
</body>
</html>
