<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>$WikiTitle: {$Group}/{$Titlespaced}</title>
	<link rel='stylesheet' href='$SkinDirUrl/{$SkinName}.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/javascript/corners/jquery.corners.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor.css' type='text/css' />
	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="$SkinDirUrl/javascript/corners/iehacks_lt7.css" />
		<style type="text/css">
		#contentHeader { 
			}
		</style>
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="$SkinDirUrl/javascript/corners/iehacks_7.css" />
	<![endif]-->

	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery-1.1.4.pack.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/corners/jquery.corners.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery.jqTOC.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery.tabs.pack.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery.cookie.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery.interface.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/{$SkinName}.js"></script>
	<script type="text/javascript">pm_SkinDir = '$SkinDirUrl'; pm_SkinName = '{$SkinName}'; pm_Site = '{$SiteGroup}'; pm_LeftCol = '{$LeftColumn}'; pm_RightCol = '{$RightColumn}'; </script>

<!--HTMLHeader-->
</head>
<body>
<div id="pageWrapper">

	<!--PageHeaderFmt-->
	<div id="siteHeader" class="force_contain inside">		 	<!-- begin: header column content -->

		<div id="siteHeaderNav">
			<!--wiki:{$SiteGroup}.{$SkinName}-Header-->					 
		</div>		
		<div id="searchBar">
			<form action='$ScriptUrl'>
				<input type='hidden' name='n' value='{$FullName}' />
				<input type='hidden' name='action' value='search' />
				<input class='searchBox' type='text' name='q' value='' />
				<input class='searchButton' type='submit' value='$[Go]' />
			</form>
		</div>

	</div>																 	<!-- end: header column content -->
	<!--/PageHeaderFmt-->

	<div id="outerColumnContainer">
		<div id="centerColumn">
			<!--PageLeftFmt-->
			<div id="leftColumn">
				<div id="tabs_left" class="tabHolder"></div>
				<div class="inside">									 	<!-- begin: left column content -->
				
					<div id="tabs_left_content" class="tabContentHolder">
						<!--wiki:{$SiteGroup}.{$SkinName}-TabsLeftContent-->
					</div>
				
				</div>													 	<!-- end: left column content -->
			</div>
			<!--/PageLeftFmt-->

			<div id="contentColumn">
				<div id="contentHeader">
					<!--wiki:{$SiteGroup}.{$SkinName}-ContentHeader-->
				</div>
	
				<div id="middleColumn" class="inside">				<!-- begin: middle column content -->
					<!--PageText-->
				</div>														<!-- end: middle column content -->	
			</div>

			<!--PageRightFmt-->
			<div id="rightColumn">
				<div id="tabs_right" class="tabHolder"></div>
				<div class="inside">									 	<!-- begin: right column content -->
				
					<div id="tabs_right_content" class="tabContentHolder">
						<!--wiki:{$SiteGroup}.{$SkinName}-TabsRightContent-->
					</div>
					
				</div>													  	<!-- end: right column content  -->
			</div>
			<!--/PageRightFmt-->

			<div class="clear mozclear"></div>
		</div>
	</div>

	<!--PageFooterFmt-->
	<div id="footer" class="inside">								 	<!-- begin: footer content -->
		<!--wiki:{$SiteGroup}.{$SkinName}-Footer-->
	</div>																	<!-- end: footer content -->
	<!--/PageFooterFmt-->

</div>
{$StopWatch}
<!--HTMLFooter-->
</body>
</html>